<section class="events">
    <p class="events__text">events of the month</p>
    <img src="./assets/images/bottom_line2.png" alt="logo underline" class="image__underline--welcome">
    <section class="events__section">
        <div class="section__event">
            <img class="event__img" alt="events" src="./assets/images/event-thumb1.jpg">
            <div class="event__purple">
                <p class="purple__text">25 Dec</p>
                <p class="purple__text">10:30 PM</p>
                <p class="purple__text">City Plaza, Newyork</p>
            </div>
        </div>
        <div class="section__button-container">
            <button class="button-container--button 1"></button>
            <button class="button-container--button 2"></button>
            <button class="button-container--button 3"></button>
            <button class="button-container--button 4"></button>
            <button class="button-container--button 5"></button>
        </div>
    </section>
</section>