<section class="events">
    <p class="events__text">events of the month</p>
    <img src="./assets/images/bottom_line2.png" alt="logo underline" class="image__underline--welcome">
    <article class="events__article">
        <section class="events__section">
            <div class="section__event">

            </div>
            <div class="section__button-container">
                <button class="button-container--button 1"></button>
                <button class="button-container--button 2"></button>
                <button class="button-container--button 3"></button>
                <button class="button-container--button 4"></button>
                <button class="button-container--button 5"></button>
            </div>
        </section>
    </article>
</section>