<section class="gallery__box">
    <article class="welcome__box">
        <p class="welcome__night">Night Club Gallery</p>
    </article>
    <img src="./assets/images/bottom_line2.png" alt="logo underline" class="image__underline--welcome">
    <div class="gallery">
        <figure class="gallery__figure">
            <img class="gallery__img img1" src="./assets/images/gallery1_big.jpg" alt="club table">
            <div class="gallery__triangle-top"></div>
            <div class="gallery__triangle-bottom"></div>
        </figure>
        <figure class="gallery__figure">
            <img class="gallery__img img1" src="./assets/images/gallery2_big.jpg" alt="club table">
            <div class="gallery__triangle-top"></div>
            <div class="gallery__triangle-bottom"></div>
        </figure>
        <figure class="gallery__figure">
            <img class="gallery__img img1" src="./assets/images/gallery3_big.jpg" alt="club table">
            <div class="gallery__triangle-top"></div>
            <div class="gallery__triangle-bottom"></div>
        </figure>
        <figure class="gallery__figure">
            <img class="gallery__img img1" src="./assets/images/gallery4_big.jpg" alt="club table">
            <div class="gallery__triangle-top"></div>
            <div class="gallery__triangle-bottom"></div>
        </figure>
        <figure class="gallery__figure">
            <img class="gallery__img img1" src="./assets/images/gallery5_big.jpg" alt="club table">
            <div class="gallery__triangle-top"></div>
            <div class="gallery__triangle-bottom"></div>
        </figure>
        <figure class="gallery__figure">
            <img class="gallery__img img1" src="./assets/images/gallery6_big.jpg" alt="club table">
            <div class="gallery__triangle-top"></div>
            <div class="gallery__triangle-bottom"></div>
        </figure>
        <figure class="gallery__figure">
            <img class="gallery__img img1" src="./assets/images/gallery7_big.jpg" alt="club table">
            <div class="gallery__triangle-top"></div>
            <div class="gallery__triangle-bottom"></div>
        </figure>
    </div>
</section>