<section class="gallery__box">
    <article class="welcome__box">
        <p class="welcome__night">Night Club Gallery</p>
    </article>
    <img src="./assets/images/bottom_line2.png" alt="logo underline" class="image__underline--welcome">
    <div class="gallery">
    </div>
</section>