<header class="header">
    <img class="header__portfolio" src="./assets/images/Logo.png"></img>
    <nav class="header__nav">
        <label for="checkbox" id="checkboxLabel">Show More</label>
        <input type="checkbox" id="checkbox" />
        <div class="nav__triangle-top"></div>
        <div class="nav__triangle-bottom"></div>
        <ul id="uList">
            <li><a>HOME</a></li>
            <li><a>ABOUT US</a></li>
            <li><a>BLOG</a></li>
            <li><a>EVENTS</a></li>
            <li><a>GALLERY</a></li>
            <li><a>BOOK TABLE</a></li>
            <li><a>CONTACT US</a></li>
        </ul>
    </nav>
</header>