<div class="header__image" src="./assets/images/header_bg_2.jpg">
    <img src="./assets/images/logo.svg" alt="logo" class="image__logo">
    <p class="image__text">Have a good time</p>
    <img src="./assets/images/bottom_line.png" alt="logo underline" class="image__underline">
</div>
<header class="header">
    <img class="header__portfolio" src="./assets/images/Logo.png"></img>
    <nav class="header__nav">
        <label for="checkbox" id="checkboxLabel">Open</label>
        <input type="checkbox" id="checkbox"/>
        <div class="nav__triangle-top"></div>
        <div class="nav__triangle-bottom"></div>
        <ul id="uList">
            <li><a href="Home/">HOME</a></li>
            <li><a href="About/">ABOUT US</a></li>
            <li><a href="Blog/">BLOG</a></li>
            <li><a href="Events/">EVENTS</a></li>
            <li><a href="Gallery/">GALLERY</a></li>
            <li><a href="Book-table/">BOOK TABLE</a></li>
            <li><a href="Contact-us/">CONTACT US</a></li>
        </ul>
    </nav>
</header>