<img class="header__portfolio" src="./assets/images/Logo.png"></img>
<nav class="header__nav">
    <label for="checkbox" id="checkboxLabel">Open</label>
    <input type="checkbox" id="checkbox"/>
    <div class="nav__triangle-top"></div>
    <div class="nav__triangle-bottom"></div>
    <ul id="uList">
        <li><a href="Home/">HOME</a></li>
        <li><a href="About/">ABOUT US</a></li>
        <li><a href="Blog/">BLOG</a></li>
        <li><a href="Events/">EVENTS</a></li>
        <li><a href="Gallery/">GALLERY</a></li>
        <li><a href="Book-table/">BOOK TABLE</a></li>
        <li><a href="Contact-us/">CONTACT US</a></li>
    </ul>
</nav>