<section class="events">
    <section class="events__section">
        <div class="section__event">
            <img class="event__img" alt="events" src="./assets/images/event-thumb1.jpg">
        </div>
        <p>Alex</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor neque nesciunt incidunt, cumque eius similique illo nisi impedit numquam autem ea nobis minima optio voluptatum amet. Ullam obcaecati nulla at.</p>
        <div>
            <figure>
                <i class="fab fa-facebook-f"></i>
            </figure>
            <figure>
                <i class="fab fa-twitter"></i>
            </figure>
            <figure>
                <i class="fab fa-google"></i>
            </figure>
        </div>
        <div class="section__button-container">
            <button class="button-container--button 1"></button>
            <button class="button-container--button 2"></button>
            <button class="button-container--button 3"></button>
        </div>
    </section>
</section>