<section class="welcome">
    <article class="welcome__box">
        <p class="welcome__night">Night Club Track<span class="night__club">Club</span></p>
    </article>
    <img src="./assets/images/bottom_line2.png" alt="logo underline" class="image__underline--welcome">
    <div class="welcome__image">
        <img class="image__img" src="./assets/images/thumb1.jpg" alt="club table">
        <img class="image__img" src="./assets/images/offer4.jpg" alt="club food">
        <img class="image__img" src="./assets/images/thumb2.jpg" alt="girl in club">
    </div>
</section>