<section class="welcome">
    <article class="welcome__box">
        <p class="welcome__night">Welcome In Night<span class="night__club">Club</span></p>
    </article>
    <img src="./assets/images/bottom_line2.png" alt="logo underline" class="image__underline--welcome">
    <div class="welcome__image">
        <figure class="image__figure">
            <img class="image__img" src="./assets/images/thumb1.jpg" alt="club table">
            <img class="image__title--text" src="./assets/images/Favicon.svg">
            <p class="text__name">Night Club</p>
            <p class="text__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium suscipit distinctio voluptates voluptas quas excepturi, cum pariatur vero sed id ullam asperiores a eos alias facere. Eveniet assumenda quod recusandae!</p>
            <div class="welcome__triangle-top"></div>
            <div class="welcome__triangle-bottom"></div>
        </figure>
        <figure class="image__figure">
            <img class="image__img" src="./assets/images/offer4.jpg" alt="club food">
            <img class="image__title--text" src="./assets/images/rest.svg">
            <p class="text__name">Restaurant</p>
            <p class="text__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius itaque ab rem? A eius quam voluptatum illum minus fugiat voluptate quisquam asperiores fugit, repellat quia quod at omnis nesciunt doloremque?</p>
            <div class="welcome__triangle-top"></div>
            <div class="welcome__triangle-bottom"></div>
        </figure>
        <figure class="image__figure">
            <img class="image__img" src="./assets/images/thumb2.jpg" alt="girl in club">
            <img class="image__title--text" src="./assets/images/Wine.svg">
            <p class="text__name">Bar</p>
            <p class="text__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nobis quibusdam illum? Corporis necessitatibus esse rem id laudantium eum voluptatibus nam dolorum natus, perspiciatis ipsam commodi a dicta sunt aspernatur!</p>
            <div class="welcome__triangle-top"></div>
            <div class="welcome__triangle-bottom"></div>
        </figure>
    </div>
</section>