<section class="welcome">
    <p class="welcome__text">Welcome In</p>
    <p class="welcome__night">Night<span class="night__club">Club</span></p>
    <img src="./assets/images/bottom_line2.png" alt="logo underline" class="image__underline">
    <div class="welcome__image">
        <img src="./assets/images/thumb1" alt="club table">
        <img src="./assets/images/thumb2" alt="club food">
        <img src="./assets/images/thumb3" alt="girl in club">
    </div>
</section>