<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/welcome %>
<% include ../partials/events %>
<% include ../partials/gallery %>
<% include ../partials/player %>
<main class="main">

</main>
<% include ../partials/footer %>
<% include ../partials/after-footer %>